<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Email Template - duoh! template 2</title>
<!--[if gte mso 9]>
<style type="text/css">
.body{background: #353732 url('{THISURL}{PATH}/media/templates/images/body-bg.jpg');}	     
.case {background:none;}
</style>
<![endif]-->
</head>
<body style="background-color: #8e998b; background-image: url({THISURL}{PATH}/media/templates/images/body-bg.jpg); background-repeat: repeat;" class="body" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="case" style="background-color: #8e998b; background-image: url({THISURL}{PATH}/media/templates/images/body-bg.jpg); background-repeat: repeat;">
<!--[if gte mso 9]>
<td style="background: none;">
<![endif]-->
<!--header text-->
<table id="top" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="80" style="background-image: url({THISURL}{PATH}/media/templates/images/box-bg.jpg); background-repeat: repeat;" background="{THISURL}{PATH}/media/templates/images/box-bg.jpg" valign="middle" align="center">
<p style="font-size: 13px;  color: #fff; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">You're receiving this newsletter because you signed up for it.<br>
Having trouble reading this email? <webversion style="color:#dee7c6; text-decoration: underline;">View it in your browser.</webversion><br>
Not interested anymore? <unsubscribe style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly.</unsubscribe></p>
</td>
</tr>
</table>
</td>
</tr>
</table><!--/header text-->
<!--masthead-->
<table bgcolor="#e5e7e2" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td style="background-image: url({THISURL}{PATH}/media/templates/images/masthead.jpg); background-repeat: no-repeat;" background="{THISURL}{PATH}/media/templates/images/masthead.jpg" valign="top" height="104">

<!--date-->
<table width="95" border="0" align="right" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" bgcolor="#bac893" background="{THISURL}{PATH}/media/templates/images/date-bg_1.jpg" style="background-image:url({THISURL}{PATH}/media/templates/images/date-bg_1.jpg); background-repeat: no-repeat;" height="87" width="62">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="62" valign="top" height="12" align="center"></td>
</tr>
<tr>
<td valign="top" width="62" height="22" align="center"><p style="color:#FFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;"><currentday></p></td>
</tr>
<tr>
<td width="62" align="center"><p style="color:#FFF; font-size:9px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"><currentmonthname></p></td>
</tr>
</table>

</td>
<td height="87" width="32">&nbsp;</td>
</tr>
</table>
<!--/date-->
<!--title-->
<table width="450" border="0" cellspacing="0" cellpadding="00">
<tr>
<td width="30"></td>
<td height="25"></td>
</tr>
<tr>
<td width="30">&nbsp;</td>
<td><h1 style="color: #547159; font-size: 48px; text-shadow: 1px 1px 1px #fff; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0;">ABC Widgets</h1></td>
</tr>
</table><!--/title-->
</td>
</tr>
</table><!--/masthead-->
<!--top intro-->
<table bgcolor="#e5e7e2" background="{THISURL}{PATH}/media/templates/images/content-bg.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="35">
<!--break-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="30">&nbsp;</td>
</tr>
</table><!--/break-->
<table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td><h2 style="color: #9faf78; font-size: 30px; margin-bottom: 10px; font-family: Georgia, 'Times New Roman', Times, serif; padding: 0;">A small river named Duden flows by their place and supplies</h2>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif;  padding: 0;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
<p align="right" style="float:right; margin: 0; padding: 0;"><a href="#top"><img src="{THISURL}{PATH}/media/templates/images/up.gif" height="22" width="21" alt="back to top" border="0"></a></p></td>
</tr>
</table>
</td>
</tr>
</table><!--/top intro-->
<!--line-->
<table bgcolor="#e5e7e2" background="{THISURL}{PATH}/media/templates/images/content-bg.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" align="center" height="25">
<img src="{THISURL}{PATH}/media/templates/images/line_1.gif" width="538" height="11"></td>
</tr>
</table><!--/line-->
<!--content section-->
<table bgcolor="#e5e7e2" background="{THISURL}{PATH}/media/templates/images/content-bg.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td><h2 style="color: #9faf78; font-size: 30px; margin-bottom: 10px; font-family: Georgia, 'Times New Roman', Times, serif; padding: 0;">Vokalia and Consonantia, there live the </h2>
<p style="margin: 0; padding: 0;"><img style="border:solid 6px #d7dbd4; margin-bottom: 10px; padding: 0; display: block;" src="{THISURL}{PATH}/media/templates/images/intro.jpg" width="525" height="127" alt="img2"></p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village.</p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;"><img src="{THISURL}{PATH}/media/templates/images/li.gif" width="15" height="12">The Big Oxmox advised her not to do so, because there were thousands of bad Commas</p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;"><img src="{THISURL}{PATH}/media/templates/images/li.gif" width="15" height="12">Question Marks and devious Semikoli, but the Little Blind Text didn’t listen</p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;"><img src="{THISURL}{PATH}/media/templates/images/li.gif" width="15" height="12">She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
<p style="font-size: 13px;  color: #686f64; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; padding: 0;"><img src="{THISURL}{PATH}/media/templates/images/li.gif" width="15" height="12">Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p> 
<p align="right" style="float:right; margin: 0; padding: 0;"><a href="#top"><img src="{THISURL}{PATH}/media/templates/images/up.gif" height="22" width="21" alt="back to top" border="0"></a></p></td>
</tr>
</table>
<!--break-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="20">&nbsp;</td>
</tr>
</table><!--/break-->
</td>
</tr>
</table><!--/content section-->
<!--footer-->
<table style="background-image: url({THISURL}{PATH}/media/templates/images/box-bg.jpg); background-repeat: repeat;" background="{THISURL}{PATH}/media/templates/images/box-bg.jpg" width="600" border="0" align="center" cellpadding="20" cellspacing="0">
<tr>
<td valign="top">
<p style="color: #FFF; font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">abcWidgets and the abc Widgets Logo are registered trademarks of abcWidgets Corp.<br>
<forwardtoafriend style="color: #dee7c6; text-decoration: underline;">Forward this email</forwardtoafriend> to a friend. Not interested anymore? <unsubscribe style="color:#dee7c6; text-decoration: underline;">Unsubscribe Instantly.</unsubscribe></p>
</td>
</tr>
</table><!--footer-->
<!--break-->
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="25">&nbsp;</td>
</tr>
</table><!--/break-->
</td>
</tr>
</table><!--/100% body table-->
</body>
</html>