<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Acme Corporation</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0">
<table cellspacing="0" border="0" height="100%" style="background-image: url('{THISURL}{PATH}/media/templates/images/bg.gif'); background-color: #fafafa;" cellpadding="0" width="100%">
    <tr>
        <td valign="top">
            <!-- main table -->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="675">
                <!-- note -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" align="center" cellpadding="0" width="500">
                            <tr>
                                <td class="note" valign="top" style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <br />
                                    You're receiving this newsletter because you signed up at <a href="#" style="color: #3b464f; font-weight: bold; text-decoration: none;">acmecorp.com</a>. Having trouble reading 
                                    this email? You can
                                    <webversion style="color: #3b464f; font-weight: bold; text-decoration: none;">view it in your web browser</webversion>
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / note -->
                <!-- header -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" align="center" cellpadding="0" width="675">
                            <!-- top -->
                            <tr>
                                <td height="9" valign="top"> <img src="{THISURL}{PATH}/media/templates/images/header-top.gif" alt="" style="display: block;" /> </td>
                            </tr>
                            <!-- / top -->
                            <!-- middle -->
                            <tr>
                                <td valign="top">
                                    <table cellspacing="0" border="0" cellpadding="0" width="675">
                                        <tr>
                                            <td valign="top" width="5"> <img src="{THISURL}{PATH}/media/templates/images/header-side.gif" alt="" style="display: block;" /> </td>
                                            <td height="90" valign="top">
                                                <table cellspacing="0" border="0" height="90" cellpadding="0" width="665">
                                                    <tr>
                                                        <td class="header-content" height="90" valign="top" style="background-color: #bbcedd; background-image: url('{THISURL}{PATH}/media/templates/images/header-content.gif');">
                                                            <table cellspacing="0" border="0" height="90" cellpadding="0" width="665">
                                                                <tr>
                                                                    <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="1" alt="" style="display: block;" width="20" /> </td>
                                                                    <td class="main-title" align="left" valign="middle" width="545" style="color: #4c545b; font-family: Georgia, serif; font-size: 41px; font-weight: bold; font-style: italic;"> Acme Corporation </td>
                                                                    <!-- circle -->
                                                                    <td height="81" align="right" valign="middle" width="81">
                                                                        <table cellspacing="0" border="0" height="81" cellpadding="0" width="101">
                                                                            <tr>
                                                                                <td class="circle" height="56" align="left" valign="top" width="81" style="color: #fff; text-transform: uppercase; font-size: 9px; text-align: center; font-family: Arial, Helvetica, sans-serif; width: 81px; height: 56px; background-color: #8494A1; background-image: url('http://newsletters.urldock.com/metalab-sara-cm-tags-basic/media/templates/images/circle.png'); padding: 25px 0 0 0; background-repeat: no-repeat;">
                                                                                    <p style="color: #fff; text-transform: uppercase; font-size: 9px; text-align: center; font-family: Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                                                        <currentmonthname>
                                                                                    </p>
                                                                                    <strong style="font-size: 24px;">
                                                                                    <currentday>
                                                                                    </strong> </td>
                                                                                <td rowspan="3"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="1" style="display: block;" width="19" /> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <!-- / circle -->
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" width="5"> <img src="{THISURL}{PATH}/media/templates/images/header-side.gif" alt="" style="display: block;" /> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- / middle -->
                            <!-- botom -->
                            <tr>
                                <td height="35" valign="top"> <img src="{THISURL}{PATH}/media/templates/images/header-bottom-left.png" alt="" style="display: block;" /> </td>
                            </tr>
                            <!-- / bottom -->
                        </table>
                    </td>
                </tr>
                <!-- / header -->
                <!-- content -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="415">
                                    <table cellspacing="0" border="0" cellpadding="0" width="415">
                                        <tr>
                                            <td valign="top">
                                                <table cellspacing="0" border="0" cellpadding="0">
                                                    <!-- article title -->
                                                    <tr>
                                                        <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/double-line-small.gif" alt="" style="display: block;" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="article-title" height="30" valign="middle" style="text-transform: uppercase; font-family: Georgia, serif; font-size: 16px; color: #2b2b2b; font-style: italic; border-bottom: 1px solid #c1c1c1;"> Weekly News Round-up </td>
                                                    </tr>
                                                    <!-- / article title -->
                                                    <!-- article -->
                                                    <tr>
                                                        <td class="copy" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <br />
                                                            <img src="{THISURL}{PATH}/media/templates/images/sample.jpg" align="right" alt="Sample" width="200" style="padding-left: 10px; padding-bottom: 10px;" />
                                                            <p style="margin: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis mi ac diam commodo ac pellentesque 
                                                                ante bibendum. Nulla justo nulla, mollis in imperdiet eu, ultricies vitae tortor. Ut dapibus, erat vitae 
                                                                euismod elementum, nisi ligula adipiscing massa, sit amet venenatis turpis mi sed erat. Donec condimentum 
                                                                imperdiet neque, ac mollis justo iaculis a. <a href="" style="background: #bbcedd; font-weight: bold; color: #4a5359; text-decoration: none; font-style: italic; padding: 0 5px;">Praesent volutpat rutrum</a> felis et aliquam. In 
                                                                non blandit mauris. Vestibulum lobortis tempus dui, semper pellentesque nisl porttitor eget.</p>
                                                            <p>Cras porta diam ultricies velit aliquam in luctus odio hendrerit. Aenean vitae eros diam, eu mattis tellus. 
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis mi ac diam commodo ac pellentesque 
                                                                ante bibendum.</p>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    <!-- / article -->
                                                    <!-- article title -->
                                                    <tr>
                                                        <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/double-line-small.gif" alt="" style="display: block;" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="article-title" height="30" valign="middle" style="text-transform: uppercase; font-family: Georgia, serif; font-size: 16px; color: #2b2b2b; font-style: italic; border-bottom: 1px solid #c1c1c1;"> Awesome new product line </td>
                                                    </tr>
                                                    <!-- / article title -->
                                                    <!-- article -->
                                                    <tr>
                                                        <td class="copy" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <br />
                                                            <p style="margin: 0;">Praesent volutpat rutrum felis et aliquam. In non blandit mauris. Vestibulum lobortis tempus dui, 
                                                                semper pellentesque nisl porttitor eget. Cras porta diam ultricies velit aliquam in luctus odio hendrerit.</p>
                                                            <p>Aenean vitae eros diam, eu mattis tellus. Cum sociis natoque penatibus et magnis dis parturient montes, 
                                                                nascetur ridiculus mus. Maecenas vel libero elit. Nulla dictum risus. Praesent volutpat rutrum felis et 
                                                                aliquam. In non blandit mauris. Vestibulum lobortis tempus dui, semper pellentesque nisl porttitor eget. 
                                                                Cras porta diam ultricies velit aliquam in luctus odio hendrerit. Aenean vitae eros diam, eu mattis tellus. 
                                                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vel libero 
                                                                elit. Nulla dictum risus.</p>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    <!-- / article -->
                                                    <!-- article title -->
                                                    <tr>
                                                        <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/double-line-small.gif" alt="" style="display: block;" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="article-title" height="30" valign="middle" style="text-transform: uppercase; font-family: Georgia, serif; font-size: 16px; color: #2b2b2b; font-style: italic; border-bottom: 1px solid #c1c1c1;"> Steals and deals </td>
                                                    </tr>
                                                    <!-- / article title -->
                                                    <!-- article -->
                                                    <tr>
                                                        <td class="copy" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <br />
                                                            <p>Praesent volutpat rutrum felis et aliquam. In non blandit mauris. Vestibulum lobortis tempus dui, 
                                                                semper pellentesque nisl porttitor eget. Cras porta diam ultricies velit aliquam in luctus odio <a href="http://newsletters.urldock.com/metalab-sara-cm-tags-basic/" style="background: #bbcedd; font-weight: bold; color: #4a5359; text-decoration: none; font-style: italic; padding: 0 5px;">hendrerit.</a> Aenean vitae eros diam, eu mattis tellus. Cum sociis natoque penatibus et 
                                                                magnis dis parturient montes, nascetur ridiculus mus. Maecenas vel libero elit. Nulla dictum risus.</p>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    <!-- / article -->
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- sidebar -->
                                <td valign="top" width="260">
                                    <table cellspacing="0" border="0" cellpadding="0">
                                        <tr>
                                            <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="1" alt="" style="display: block;" width="35" /> </td>
                                            <!-- in this issue box -->
                                            <td valign="top">
                                                <table cellspacing="0" border="0" cellpadding="0">
                                                    <tr>
                                                        <td> <img src="{THISURL}{PATH}/media/templates/images/in-this-issue.gif" alt="" style="display: block;" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <table cellspacing="0" border="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="top" bgcolor="#dadada"> <img src="{THISURL}{PATH}/media/templates/images/box-side.gif" height="125" alt="" style="display: block;" width="10" /> </td>
                                                                    <td valign="top">
                                                                        <table cellspacing="0" border="0" cellpadding="0" width="206" style="background-color: #e6e6e6; background-image: url('{THISURL}{PATH}/media/templates/images/box-bg.gif');">
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <table cellspacing="0" border="0" cellpadding="0" width="206">
                                                                                        <tr>
                                                                                            <td valign="top" width="20"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="20" /> </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td valign="top" width="20"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="20" /> </td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;"><strong>01.</strong></td>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="5" /></td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;">Weekly news round-up</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="5" alt="" style="display: block;" /></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td valign="top" width="20"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="20" /> </td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;"><strong>02.</strong></td>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="5" /></td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;">Weekly news round-up</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="5" alt="" style="display: block;" /></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td valign="top" width="20"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="20" /> </td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;"><strong>03.</strong></td>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="5" /></td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;">Weekly news round-up</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="5" alt="" style="display: block;" /></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td valign="top" width="20"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="20" /> </td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;"><strong>04.</strong></td>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" alt="" style="display: block;" width="5" /></td>
                                                                                            <td class="list" style="font-family: Georgia, serif; font-size: 12px;">Weekly news round-up</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="10" alt="" style="display: block;" /></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td valign="top" bgcolor="#dadada"> <img src="{THISURL}{PATH}/media/templates/images/box-side.gif" height="125" alt="" style="display: block;" width="10" /> </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> <img src="{THISURL}{PATH}/media/templates/images/box-bottom.gif" alt="" style="display: block;" /> </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- / in this issue box -->
                                        </tr>
                                        <tr>
                                            <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="20" alt="" style="display: block;" width="1" /> </td>
                                        </tr>
                                        <tr>
                                            <td valign="top"> <img src="{THISURL}{PATH}/media/templates/images/spacer.gif" height="1" alt="" style="display: block;" width="35" /> </td>
                                            <td valign="top">
                                                <forwardtoafriend><img src="{THISURL}{PATH}/media/templates/images/share.gif" border="0" alt="" style="display: block;" /></forwardtoafriend>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- / sidebar -->
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / content -->
                <!-- footer -->
                <tr>
                    <td valign="top">
                        <table cellspacing="0" border="0" cellpadding="0" width="675">
                            <tr>
                                <td valign="top"> </td>
                            </tr>
                            <tr>
                                <td align="center" class="footer" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2b2b2b; line-height: 18px;"> <img src="{THISURL}{PATH}/media/templates/images/double-line.gif" alt="" width="675" style="display: block;" />
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                    Don't want to receive these newsletters anymore? Manage your
                                    <unsubscribe style="color: #3b464f; font-weight: bold; text-decoration: none;">unsubscribe</unsubscribe>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / footer -->
            </table>
            <!-- / main table -->
        </td>
    </tr>
</table>
</body>
</html>